@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import "tailwindcss";

.preserve-3d {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

body {
  font-family: "Amiri", serif;
}

.flip-card {
  transition: transform 0.6s ease;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.arabic-text {
  direction: rtl;
  font-family: "Amiri", serif;
}
